In [81]:
infile = r"./gps.log"

lat_lon = []
keep_phrases = ["Latitude="]

with open(infile) as f:
    lines = f.readlines()

for i, line in enumerate(lines):
    for phrase in keep_phrases:
        if phrase in line:
            lat_lon.append((i, line))
            break

print(lat_lon)

[(469, 'Latitude= 47.275337 Longitude= -2.294765\n'), (505, 'Latitude= 47.275272 Longitude= -2.294804\n'), (538, 'Latitude= 47.275581 Longitude= -2.294675\n'), (570, 'Latitude= 47.275566 Longitude= -2.294688\n'), (607, 'Latitude= 47.275558 Longitude= -2.294687\n'), (644, 'Latitude= 47.275554 Longitude= -2.294681\n'), (681, 'Latitude= 47.275554 Longitude= -2.294676\n'), (717, 'Latitude= 47.275554 Longitude= -2.294672\n'), (753, 'Latitude= 47.275554 Longitude= -2.294673\n'), (789, 'Latitude= 47.275569 Longitude= -2.294674\n'), (844, 'Latitude= 47.275600 Longitude= -2.294645\n'), (875, 'Latitude= 47.275619 Longitude= -2.294637\n'), (911, 'Latitude= 47.275657 Longitude= -2.294625\n'), (947, 'Latitude= 47.275665 Longitude= -2.294627\n'), (983, 'Latitude= 47.275665 Longitude= -2.294657\n'), (1018, 'Latitude= 47.275650 Longitude= -2.294679\n'), (1053, 'Latitude= 47.275619 Longitude= -2.294690\n'), (1089, 'Latitude= 47.275585 Longitude= -2.294715\n'), (1125, 'Latitude= 47.275558 Longitude= -2.294727\n'), (1161, 'Latitude= 47.275539 Longitude= -2.294747\n'), (1197, 'Latitude= 47.275550 Longitude= -2.294787\n'), (1233, 'Latitude= 47.275562 Longitude= -2.294832\n'), (1268, 'Latitude= 47.275577 Longitude= -2.294852\n'), (1304, 'Latitude= 47.275585 Longitude= -2.294868\n'), (1355, 'Latitude= 47.275592 Longitude= -2.294968\n'), (1386, 'Latitude= 47.275596 Longitude= -2.294910\n'), (1468, 'Latitude= 47.275577 Longitude= -2.294951\n'), (1504, 'Latitude= 47.275554 Longitude= -2.294942\n'), (1540, 'Latitude= 47.275531 Longitude= -2.294920\n'), (1576, 'Latitude= 47.275497 Longitude= -2.294870\n'), (1613, 'Latitude= 47.275485 Longitude= -2.294858\n'), (1649, 'Latitude= 47.275493 Longitude= -2.294855\n'), (1685, 'Latitude= 47.275501 Longitude= -2.294842\n'), (1722, 'Latitude= 47.275497 Longitude= -2.294812\n'), (1759, 'Latitude= 47.275493 Longitude= -2.294780\n'), (1795, 'Latitude= 47.275489 Longitude= -2.294751\n'), (1831, 'Latitude= 47.275493 Longitude= -2.294726\n'), (1867, 'Latitude= 47.275497 Longitude= -2.294703\n'), (1904, 'Latitude= 47.275497 Longitude= -2.294676\n'), (1941, 'Latitude= 47.275501 Longitude= -2.294648\n'), (1978, 'Latitude= 47.275501 Longitude= -2.294615\n'), (2015, 'Latitude= 47.275501 Longitude= -2.294585\n'), (2052, 'Latitude= 47.275505 Longitude= -2.294550\n'), (2089, 'Latitude= 47.275520 Longitude= -2.294531\n'), (2126, 'Latitude= 47.275547 Longitude= -2.294524\n'), (2162, 'Latitude= 47.275566 Longitude= -2.294520\n'), (2199, 'Latitude= 47.275596 Longitude= -2.294521\n'), (2236, 'Latitude= 47.275634 Longitude= -2.294511\n'), (2273, 'Latitude= 47.275665 Longitude= -2.294507\n'), (2310, 'Latitude= 47.275657 Longitude= -2.294524\n'), (2347, 'Latitude= 47.275653 Longitude= -2.294553\n'), (2384, 'Latitude= 47.275661 Longitude= -2.294566\n'), (2421, 'Latitude= 47.275646 Longitude= -2.294568\n'), (2457, 'Latitude= 47.275604 Longitude= -2.294571\n'), (2494, 'Latitude= 47.275573 Longitude= -2.294594\n'), (2531, 'Latitude= 47.275581 Longitude= -2.294620\n'), (2568, 'Latitude= 47.275592 Longitude= -2.294656\n'), (2605, 'Latitude= 47.275615 Longitude= -2.294645\n'), (2655, 'Latitude= 47.275608 Longitude= -2.294831\n'), (2691, 'Latitude= 47.275550 Longitude= -2.294629\n'), (2727, 'Latitude= 47.275554 Longitude= -2.294677\n'), (2762, 'Latitude= 47.275539 Longitude= -2.294670\n'), (2820, 'Latitude= 47.275455 Longitude= -2.294645\n'), (2856, 'Latitude= 47.275493 Longitude= -2.294660\n'), (2892, 'Latitude= 47.275489 Longitude= -2.294660\n'), (2928, 'Latitude= 47.275489 Longitude= -2.294658\n'), (2964, 'Latitude= 47.275493 Longitude= -2.294656\n'), (3001, 'Latitude= 47.275493 Longitude= -2.294656\n'), (3036, 'Latitude= 47.275516 Longitude= -2.294673\n'), (3072, 'Latitude= 47.275550 Longitude= -2.294675\n'), (3107, 'Latitude= 47.275573 Longitude= -2.294672\n'), (3144, 'Latitude= 47.275577 Longitude= -2.294669\n'), (3181, 'Latitude= 47.275588 Longitude= -2.294668\n')]

In [104]:
import pandas as pd
df = pd.DataFrame(
    [[i] + coords[len('Latitude= '):-1].split(' Longitude= ') for i, coords in lat_lon[5:]], 
    columns=['line', 'latitude', 'longitude'],
    dtype=float
)
df.line = df.line.astype(int)
df

    line   latitude  longitude
0    644  47.275554  -2.294681
1    681  47.275554  -2.294676
2    717  47.275554  -2.294672
3    753  47.275554  -2.294673
4    789  47.275569  -2.294674
..   ...        ...        ...
63  3036  47.275516  -2.294673
64  3072  47.275550  -2.294675
65  3107  47.275573  -2.294672
66  3144  47.275577  -2.294669
67  3181  47.275588  -2.294668

[68 rows x 3 columns]

In [105]:
df.line

0      644
1      681
2      717
3      753
4      789
      ...
63    3036
64    3072
65    3107
66    3144
67    3181
Name: line, Length: 68, dtype: int64

In [106]:
df.line

0      644
1      681
2      717
3      753
4      789
      ...
63    3036
64    3072
65    3107
66    3144
67    3181
Name: line, Length: 68, dtype: int64

In [116]:
def enrich(df, offset, extractor):
    return df.line.apply(lambda nb: extractor(lines[nb + offset]))

df['time'] = enrich(df, 9, lambda line: line.split(" = ")[1].rstrip()).astype('int')
df['nb_sat'] = enrich(df, 26, lambda line: line.split(" = ")[1].rstrip()).astype('int')
df['hdop'] = enrich(df, 27, lambda line: line.split(" = ")[1].rstrip()).astype('int')
df

    line   latitude  longitude      time  nb_sat  hdop
0    644  47.275554  -2.294681  14051300       6   224
1    681  47.275554  -2.294676  14051600       6   224
2    717  47.275554  -2.294672  14051900       6   224
3    753  47.275554  -2.294673  14052200       6   224
4    789  47.275569  -2.294674  14052500       6   224
..   ...        ...        ...       ...     ...   ...
63  3036  47.275516  -2.294673  14083700       0  9999
64  3072  47.275550  -2.294675  14084000       0  9999
65  3107  47.275573  -2.294672  14084300       0  9999
66  3144  47.275577  -2.294669  14084600       0  9999
67  3181  47.275588  -2.294668  14084900       0  9999

[68 rows x 6 columns]

## Plotting on map
https://pypi.org/project/gmplot/

In [117]:
BBox = (df.longitude.min(),   df.longitude.max(),      
        df.latitude.min(), df.latitude.max())
BBox

(-2.294968, -2.294507, 47.275455, 47.275665)

In [118]:
import gmplot
from IPython.display import IFrame

# Create the map plotter:
apikey = open('api.key', 'r').readline().rstrip() # (your API key here)
def getMap(df):
    gmap = gmplot.GoogleMapPlotter(df.latitude.mean(), df.longitude.mean(), 25, apikey=apikey, map_type='hybrid',
                                   fit_bounds={
                                       'north': df.latitude.max(), 
                                       'south': df.latitude.min(), 
                                       'east': df.longitude.max(), 
                                       'west': df.longitude.min()
                                   })

    gmap.plot(df.latitude, df.longitude, color='cornflowerblue', edge_width=10)

    gmap.scatter(df.latitude, df.longitude, color='#3B0B39', size=0.4, marker=False)

    # Mark a hidden gem:
    # gmap.marker(37.770776, -122.461689, color='cornflowerblue')

    # Draw the map:
    gmap.draw('map.html')
    return IFrame(src='./map.html', width=600, height=500)

getMap(df)

In [120]:
from ipywidgets import *
def update(i = IntSlider(0, 0, len(df)), j = IntSlider(len(df), 0, len(df))):
    # print(df.iloc[i:j].hdop)
    return getMap(df.iloc[i:j])

interact(update);

interactive(children=(IntSlider(value=0, description='i', max=68), IntSlider(value=68, description='j', max=68…